# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "76d8fe1e3c1044d8312f3c8b5db76765"
name = "Banner Anywhere"
handle = "banner-anywhere"
application_url = "https://nec-women-france-cu.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
dev_store_url = "orayon-testing-store.myshopify.com"
include_config_on_deploy = true

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://nec-women-france-cu.trycloudflare.com/auth/callback",
  "https://nec-women-france-cu.trycloudflare.com/auth/shopify/callback",
  "https://nec-women-france-cu.trycloudflare.com/api/auth/callback"
]

[webhooks]
api_version = "2024-07"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks"

[pos]
embedded = false
